@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Welcome to my Fantasy Football web application!  It is still in the very early stages of development, but it is meant to be a light-weight, one stop shop for news and notes on your fantasy teams across various leagues and sources.  The goal is to allow users to create teams to keep track of their players and eventually import them from various sports sites around the web.  Users will then be able to get tailored news and statistics based around each of their individual teams. Enjoy!</p>
