body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

.carousel-image {
    width: 1160px;
    max-width: 1160px;
    max-height: 360px;

}



.news-block {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}
.news-image{
    width:45px;
    margin-top: 5px;
    
}
.news-row {
    margin: 5px;
    padding: 0;
   
}

/*navbar*/
.navbar-inverse {
    background-color: #689F38;
    
}
.navbar-brand {
    font-size: 1.9em;
    font-family: 'Open Sans Condensed', sans-serif;
}
.navbar-inverse .navbar-brand {
    color:white;
}

.navbar-inverse .navbar-nav > li > a{
    color: white;
}
.navbar-inverse .btn-link {
    color: white;
}
.navigation-col {
    padding-left: 35px;
}
.navigation-links {
    color: #cb5757;
}
/*Game Score Tables*/
.table {
    table-layout: fixed;
    width: 100%;
}
.table th {
    font-size:1em;
    text-align:left;
    padding: 2px;
}
.table td {
    font-size: 1em;
    text-align: left;
    padding: 2px;
}
.main-links-list {
    list-style: none;
}
.main-links {
    font-size: 1.2em;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
